<?xml version="1.0"?>
<config>
    <modules>
        <LCB_NewsletterPopup>
            <version>0.1.0</version>
        </LCB_NewsletterPopup>
    </modules>
    <frontend>
        <layout>
            <updates>
                <newsletterpopup>
                    <file>newsletterpopup.xml</file>
                </newsletterpopup>
            </updates>
        </layout>
        <events>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <newsletterpopup_model_observer>
                        <class>LCB_NewsletterPopup_Model_Observer</class>
                        <method>subscribedToNewsletter</method>
                    </newsletterpopup_model_observer>
                </observers>
            </newsletter_subscriber_save_commit_after>
        </events>
    </frontend>
    <global>
        <helpers>
            <newsletterpopup>
                <class>LCB_NewsletterPopup_Helper</class>
            </newsletterpopup>
        </helpers>
        <blocks>
            <newsletterpopup>
                <class>LCB_NewsletterPopup_Block</class>
            </newsletterpopup>
        </blocks>
        <models>
            <newsletterpopup>
                <class>LCB_NewsletterPopup_Model</class>
            </newsletterpopup>
        </models>
    </global>
</config> 