<?xml version="1.0"?>
<config>
    <modules>
        <LCB_NewsletterPopup>
            <version>0.1.0</version>
        </LCB_NewsletterPopup>
    </modules>
    <frontend>
        <layout>
            <updates>
                <newsletterpopup>
                    <file>newsletterpopup.xml</file>
                </newsletterpopup>
            </updates>
        </layout>
        <events>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <newsletterpopup_model_observer>
                        <class>LCB_NewsletterPopup_Model_Observer</class>
                        <method>subscribedToNewsletter</method>
                    </newsletterpopup_model_observer>
                </observers>
            </newsletter_subscriber_save_commit_after>
        </events>
        <routers>
            <newsletterpopup>
                <use>standard</use>
                <args>
                    <module>LCB_NewsletterPopup</module>
                    <frontName>newsletterpopup</frontName>
                </args>
            </newsletterpopup>
        </routers>
    </frontend>
    <global>
        <rewrite>
            <newsletterpopup_newsletter_subscribercontroller>
                <from>#^/newsletter/subscriber/#</from><!-- Mage_Newsletter_SubscriberController  -->
                <to>/newsletterpopup/newsletter_subscriber/</to><!-- LCB_NewsletterPopup_Newsletter_SubscriberController-->
            </newsletterpopup_newsletter_subscribercontroller>
        </rewrite>
        <helpers>
            <newsletterpopup>
                <class>LCB_NewsletterPopup_Helper</class>
            </newsletterpopup>
        </helpers>
        <blocks>
            <newsletterpopup>
                <class>LCB_NewsletterPopup_Block</class>
            </newsletterpopup>
        </blocks>
        <models>
            <newsletterpopup>
                <class>LCB_NewsletterPopup_Model</class>
            </newsletterpopup>
        </models>
    </global>
    <admin>
        <routers>
            <newsletterpopup>
                <use>admin</use>
                <args>
                    <module>LCB_NewsletterPopup</module>
                    <frontName>admin_newsletterpopup</frontName>
                </args>
            </newsletterpopup>
        </routers>
    </admin>
</config> 